@charset "utf-8";


/*1*/
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*2*/
.concept {
  display: flex;
  justify-content: space-between;
}
.concept p {
  width: 65%;
}
.concept img {
  width: 30%;
}

/*3*/
.menu {
  background: bottom / cover no-repeat url("../images/sample_menu_bg.jpg");
  background-attachment: fixed;
}

/*4*/
.recomended_menus {
  display: flex;
  justify-content: space-between;
}
.recomended_menus li {
  width: 49%;
  display: flex;
  background-color: white;
  box-shadow: 2px 2px 4px gray;
}
.recomended_menus img {
  width: 55%;
  height: 300px;
  object-fit: cover;
}
.recomended_menus div {
  width: 45%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/*Quise ponerme creativo, espero no sea problema*/
.recomended_menus p:last-child {
  text-align: end;
}
.coffe_list {
  background-color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.coffe_list li {
  width: 49%;
  display: flex;
  /*Por este gapa la proporcion no va a ser 20 80 exacto*/
  gap: 1em;
  padding: .7em;
}

/*5 como estos elementos no se usan en otro sito voy a hacerlo de este modo*/
iframe {
  width: 100%;
}
dl {
  display: flex;
}
dt {
  width: 80px;
  text-align: start;
}
/*6*/
footer {
  background-color: #251e19;
  position: absolute;
  bottom: -75px;
  height: 75px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
}
footer ul {
  display: flex;
  align-items: center;
  gap: 1em;
}
footer img {
  height: 30px;
}
footer a {
  color: white;
  text-decoration: none;
}


html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}